<small class="point"><p><%= @post.score %> points </p></small>
<% if current_user.liked? @post %>
    <%= link_to unlike_like_path(@post), method: :put, class: 'btn btn-info liked', remote: true do %>
        <%= fa_icon 'thumbs-up' %> liked
    <% end %>
<% else %>
    <%= link_to like_like_path(@post), method: :put, remote: true, class: 'btn btn-info' do %>
        <%= fa_icon 'thumbs-up' %> like
    <% end %>
<% end %>

<%= link_to "comments", @post, class: 'btn btn-info', :"data-no-turbolink" => true  %>
