<div class="row">
  <div class="col-md-3">
    <div class="col-md-12 well">
    <section class="user_info">
      <div class="media">
        <div class="media-left">

          <div class="square-image-50"><%= image_tag(@user.avatar_url) %></div>

        </div>
        <div class="media-body">
          <h4 class="media-heading"><%= @user.username %></h4>
          <span><%= link_to "view my profile", @user %></span><br />
          <span><b>posting memes:</b> <%= @user.posts.count %></span><br />
        </div>
      </div>
    </section>

    <section class="stats">
      <%= render 'shared/user_stats' %>
    </section>
   </div>
  </div>

  <div class="col-md-5">
    <div class="col-md-12 well">
    <h3><%= @title %></h3>
    <% if @users.any? %>
      <ul class="users follow">
        <%= render @users %>
      </ul>
      <%= paginate @users%>
    <% end %>
  </div>

</div>

  <div class="col-md-4">
    <div class="col-md-12 well well-lg">
      ads
    </div>
  </div>
</div>
