<div class="row">
  <div class="col-md-3">
    <div class="col-md-12 well">
    <section class="user_info">
      <div class="media">
        <div class="media-left">
          <div class="square-image-50"><%= image_tag(@user.avatar_url) %></div>
        </div>
        <div class="media-body show-follow">
          <h4 class="media-heading"><%= @user.username %></h4>
          <p><%= link_to "view my profile", @user %></p>
          <p><b> memes:</b> <%= @user.posts.count %></span></p>
        </div>
      </div>
    </section>

    <section class="stats">
      <%= render 'shared/user_stats' %>
    </section>
   </div>
  </div>

  <div class="col-md-5">
    <div class="col-md-12 well">
    <h4><%= @title %></h4>
    <% if @users.any? %>
      <ul class="users follow">
        <%= render @users %>
      </ul>
      <%= paginate @users%>
    <% end %>
  </div>
</div>

  <div class="col-md-4 platinum-sponsor">
      PLATINUM SPONSOR
  </div>
</div>
