<div class="row">
  <aside class="col-md-4 well">
    <section class="user_info">
      <div class="media">
        <div class="media-left">
          <li class="round-image-50"><%= image_tag(current_user.avatar_url) %></li>

        </div>
        <div class="media-body">
          <h4 class="media-heading"><%= @user.email %></h4>
          <span><%= link_to "view my profile", @user %></span><br />
          <span><b>posting memes:</b> <%= @user.posts.count %></span>
        </div>
      </div>
    </section>

    <section class="stats">
      <%= render 'shared/user_stats' %>
    </section>
  </aside>
  <div class="col-md-7 well">
    <h3><%= @title %></h3>
    <% if @users.any? %>
      <ul class="users follow">
        <%= render @users %>
      </ul>
      <%= will_paginate %>
    <% end %>
  </div>
</div>
