<div class="row">
  <aside class="col-md-4 well">
    <section>
      <h1>
        <span class="square-image-50"><%= image_tag(@user.avatar_url) %></span>
        <%= @user.username %>
      </h1>
    </section>
    <section class="stats">
      <%= render 'shared/user_stats' %>
    </section>
  </aside>
  <div class="col-md-8 well">
    <%= render 'follow_form' if user_signed_in? %>
    <% if @user.posts.any? %>
        <h3>posts (<%= @user.posts.count %>)</h3>
        <ol class="posts">
          <%= render @posts %>
        </ol>
        <%= will_paginate @posts %>
    <% end %>
  </div>
</div>

