<div class="row">
  <aside class="col-md-4 well">
    <section>
      <h1>
        <span class="square-image-50"><%= image_tag(@user.avatar_url(:medium)) %></span>
        <%= @user.username %>
      </h1>
    </section>
    <section class="stats">
      <%= render 'shared/user_stats' %>
    </section>
    <%= render 'follow_form' if user_signed_in? %>
  </aside>
  <div class="col-md-8">
    <% if @user.posts.any? %>
          <%= render @posts %>
        <%= paginate @posts %>
    <% end %>
  </div>
</div>

