<div class="row">
  <div class="col-lg-7 well">
    <%= form_for(@post) do |f| %>
        <div class="form-group">
          <%= f.label 'title' %>
          <%= f.text_field :title, class: 'form-control' %>
        </div>
        <div class="form-group">
          <%= f.label 'upload meme' %>
          <%= f.file_field :image %>
        </div>
        <%= f.submit :post, class: 'btn btn-primary' %>
    <% end %>
  </div>
</div>

<% @posts.each do |post| %>
   <% cache post do %>
    <div class="row">
      <div class="col-lg-7 well">
        <div class="media">
          <div class="media-left">
            <a href="#">
              <div class="square-image-50">
                <%= link_to_image(post.user.avatar_url, post.user) if post.user.avatar? %>
              </div>
            </a>
          </div>
          <div class="media-body">
            <h4 class="media-heading">
              <%= link_to post.user.username , post.user %></h4>
            <small><%= time_ago_in_words(post.created_at) %></small>
          </div>
        </div>
        <h3><%= post.title %></h3>
        <p>
          <%= link_to_image(post.image_url, post,  data: { turbolinks: 'false' } ) %>
        </p>

        <div class="share-button pull-right">
          <%= social_share_button_tag(post.title, :url => request.original_url + 'posts/'+ post.slug) %>
        </div>

        <div class="like" id="<%= post.id %>">
          <%= render partial: 'likes/form', locals: {:@post => post} %>
        </div>
        <%= link_to "comments", @post, class: 'btn btn-info', data: { turbolinks: 'false' } %>

      </div>
    </div>
   <% end %>
<% end %>
<%= paginate @posts %>
