<% @posts.each do |post| %>
   <% cache post do %>
    <div class="row">
      <div class="col-lg-7 well">
        <div class="media">
          <div class="media-left">
            <a href="#">
              <div class="square-image-50">
                <%= link_to_image(post.user.avatar_url(:thumb), post.user) %>
              </div>
            </a>
          </div>
          <div class="media-body">
            <h4 class="media-heading">
              <%= link_to post.user.username , post.user %></h4>
            <small><%= time_ago_in_words(post.created_at) %></small>
          </div>
        </div>
        <h3><%= post.title %></h3>
        <p>
          <%= link_to_image(post.image_url, post,  data: { turbolinks: 'false' } ) %>
        </p>


        <div class="like" id="<%= post.id %>">
          <%= render partial: 'likes/form', locals: {:@post => post} %>
        </div>
        <%= link_to "comments", @post, class: 'btn btn-info', data: { turbolinks: 'false' } %>
       
        <%= link_to "https://www.facebook.com/sharer/sharer.php?u=#{request.original_url}", class: "btn btn--fb", title: 'Share on Facebook', target: '_blank'  do %>
          <i class="fa fa-facebook fa-fw"></i>Facebook
        <% end %>

        <%= link_to "http://twitter.com/home?status=#{request.original_url}", class: "btn btn--twitter",title: 'Share on Twitter', target: '_blank' do %>
          <i class="fa fa-twitter fa-fw"></i>Twitter
        <% end %>   
        
      </div>
    </div>
   <% end %>
<% end %>
<%= paginate @posts %>
