<div class="row">
  <div class="col-lg-7 well">
    <%= form_for(@post) do |f| %>
        <div class="form-group">
          <%= f.label 'title' %>
          <br>
          <%= f.text_field :title, class: 'form-control' %>
        </div>
        <div class="form-group">
          <%= f.label 'upload meme' %>
          <br>
          <%= f.file_field :image, class: 'form-control' %>
        </div>
        <%= f.submit :post, class: 'btn btn-primary' %>
    <% end %>
  </div>
  <% if user_signed_in? %>
      <div class="col-lg-3 well user-stats">
        <%= render "shared/user_stats" %>
      </div>
  <% end %>
</div>

<% @posts.each do |post| %>
   <% cache post do %>
    <div class="row">
      <div class="col-lg-7 well">
        <div class="media">
          <div class="media-left">
            <a href="#">
              <div class="round-image-50"><%= image_tag(post.user.avatar_url) %></div>
            </a>
          </div>
          <div class="media-body">
            <h4 class="media-heading"> <%= post.user.username %></h4>
            <small><%= time_ago_in_words(post.created_at) %></small>
          </div>
        </div>
        <h3><%= post.title %></h3>
        <p>
          <%= image_tag(post.image_url) if post.image? %>
        </p>

        <div class="share-button pull-right">
          <%= social_share_button_tag(post.title, popup: true) %>
        </div>

        <div class="like" id="<%= post.id %>">
          <%= render partial: 'likes/form', locals: {:@post => post} %>
        </div>

      </div>
    </div>
   <% end %>
<% end %>
<%= will_paginate @posts %>