<div class="row">
  <div class="col-lg-7 well">
    <%= form_for(@post) do |f| %>
        <div class="form-group">
          <%= f.label 'title' %>
          <%= f.text_field :title, class: 'form-control' %>
        </div>
        <div class="form-group">
          <%= f.label 'upload meme' %>
          <%= f.file_field :image %>
        </div>
        <%= f.submit :post, class: 'btn btn-primary' %>
    <% end %>
  </div>
  <div class="col-lg-4 col-lg-offset-1 well platinum-sponsor">
    PLATINUM SPONSOR
  </div>
</div>

<% @posts.each do |post| %>
   <% cache post do %>
    <div class="row">
      <div class="col-lg-7 well">
        <div class="media">
          <div class="media-left">
            <a href="#">
              <div class="square-image-50">
                <%= link_to_image(post.user.avatar_url(:thumb), post.user) %>
              </div>
            </a>
          </div>
          <div class="media-body">
            <h4 class="media-heading">
              <%= link_to post.user.username , post.user %></h4>
            <small><%= time_ago_in_words(post.created_at) %></small>
          </div>
        </div>
        <h3><%= post.title %></h3>
        <p>
          <%= link_to_image(post.image_url, post,  data: { turbolinks: 'false' } ) %>
        </p>


        <div class="like" id="<%= post.id %>">
          <%= render partial: 'likes/form', locals: {:@post => post} %>
        </div>
        <%= link_to "comments", @post, class: 'btn btn-info', data: { turbolinks: 'false' } %>
       
        <%= link_to "https://www.facebook.com/sharer/sharer.php?u=#{request.original_url}", title: 'Share on Facebook', target: '_blank'  do %>
          <%= fa_stacked_icon "facebook inverse", base: "circle", class: "fa-2x" %>
        <% end %>

        <%= link_to "http://twitter.com/home?status=#{request.original_url}", title: 'Share on Twitter', target: '_blank' do %>
         <%= fa_stacked_icon "twitter inverse", base: "circle", class: "fa-2x " %>
        <% end %>   
        
      </div>
    </div>
   <% end %>
<% end %>
<%= paginate @posts %>
