<p id="notice"><%= notice %></p>

<div class="row">
  <div class="col-lg-7 well">
    <div class="media">
      <div class="media-left">
        <a href="#">
          <div class="square-image-50">
            <%= link_to_image(@post.user.avatar_url, @post.user) if @post.user.avatar? %>
          </div>
        </a>
      </div>
      <div class="media-body">
        <h4 class="media-heading">
          <%= link_to @post.user.username , @post.user %></h4>
        <small><%= time_ago_in_words(@post.created_at) %></small>
      </div>
    </div>
    <h3>
      <%= @post.title %>
    </h3>

    <p>
      <%= image_tag(@post.image_url, class: 'img-responsive') if @post.image? %>
    </p>

    <div class="share-button pull-right">
      <%= social_share_button_tag(@post.title)%>
    </div>

    <div class="like" id="<%= @post.id %>">
      <%= render partial: 'likes/form', locals: {:@post => @post} %>
    </div>

    <div class="fb-comments" data-colorscheme="dark" data-width="100%"></div>

  </div>
</div>
