<div class="row">
  <div class="col-lg-7 well">
    <div class="media">
      <div class="media-left">
        <a href="#">
          <div class="square-image-50">
            <%= link_to_image(@post.user.avatar_url, @post.user) %>
          </div>
        </a>
      </div>
      <div class="media-body">
        <h4 class="media-heading">
          <%= link_to @post.user.username , @post.user %></h4>
        <small><%= time_ago_in_words(@post.created_at) %></small>
      </div>
    </div>
    <h3>
      <%= @post.title %>
    </h3>

    <p>
      <%= image_tag(@post.image_url, class: 'img-responsive') if @post.image? %>
    </p>

    <div class="like" id="<%= @post.id %>">
      <%= render partial: 'likes/form', locals: {:@post => @post} %>
    </div>

    <%= link_to "https://www.facebook.com/sharer/sharer.php?u=#{request.original_url}", title: 'Share on Facebook', target: '_blank'  do %>
      <%= fa_stacked_icon "facebook inverse", base: "circle", class: "fa-2x" %>
    <% end %>

    <%= link_to "http://twitter.com/home?status=#{request.original_url}", title: 'Share on Twitter', target: '_blank' do %>
      <%= fa_stacked_icon "twitter inverse", base: "circle", class: "fa-2x " %>
    <% end %>   

  </div>
</div>

<div class="row comments">
  <div class="col-lg-7 well">
   <ul class="nav nav-tabs">
    <li class="active"><a data-toggle="tab" href="#home">Facebook Comments</a></li>
    <li><a data-toggle="tab" href="#menu1">Coolpic Comments</a></li>
  </ul>

  <div class="tab-content">
    <div id="home" class="tab-pane fade in active">
      <div class="fb-comments" data-colorscheme="dark" data-width="100%"></div>
    </div>
    <div id="menu1" class="tab-pane fade">
		
      <!--comments' form-->
      <br />
      <%= render 'comments/form' %>
      <!---->
	  
      <!--show comments-->
      <%= render @post.comments.reject(&:new_record?) %>
      <!---->

    </div>
  </div>
</div>
</div>
